body{
    background-color: aliceblue;
    

    font-family: "Plus Jakarta Sans", sans-serif !important;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
}
.container{
    flex: 1;
}
/* Navbar  */
.navbar{
    background-color: aliceblue;
    height: 5rem;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: black !important;
}

/* Footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    margin-left: 1rem;
    font-size: 1.3rem;
}
.f-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

/* card */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    padding: 400;
}

.listing-link{
    text-decoration: none;
}
.listing-link:hover{
    text-decoration: brown;
}
.card-img-overlay {
    opacity: 0;
}
.card-img-overlay:hover {
    opacity: 0.3;
    color: white;
}

/* new page and edit page*/
.add-btn, .edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* show page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
    justify-content: space-between;
}
.btn-del{
    margin-right: 15rem;
    background-color: #fe424d;
 } 
.show-card{
    padding-left: 0;
    padding-right: 0;
}

#map { 
    height: 400px;
    width: 80vh;
 }